* {
  margin: 0;
  padding: 0;
}

.wrapper {
    overflow-y: auto;
}

.inner-my{
  margin: 0 auto;
 width: 90%;   
  max-height: 100vh;
}

@media screen and (max-width: 768px) {
  .dashboard-card{
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 530px) {
  .user-dashboard{
    flex-direction: column;
    gap: 20px;
  }
}