@media screen and (max-width: 576px) {
    .profile-header{
        flex-direction: column;
        align-items: flex-start !important;
        gap: 1rem;
    }
    .profile-header h4{
        font-size: 1rem;
    }
    .profile-header small{
        font-size: 0.85rem;
    }
    .profile-header .text-end{
        text-align: left !important;
    }
    .nav-tabs{
        flex-wrap: nowrap;
        overflow-x: auto;
        white-space: nowrap;
    }
    .nav-tabs::-webkit-scrollbar {
        display: none;
    }
    
}