.sidebar {
  width: 300px;
  background-color: #3b3ca9;
  color: white;
  height: 100vh;
  transition: transform 0.3s ease;
}

/* Desktop */
@media screen and (min-width: 769px) {
  .sidebar{
    transform: translateX(0);
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 9999;
    width: 250px;
  }
  .sidebar.mobile-open{
    transform: translateX(0);
  }
}